<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
   
   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <a href="/">Tech Blog</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        <a href="/homepage">Home</a> 
       <a href="/dashboard">Dashboard</a>
        {{#if logged_in}}
         |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      <h2>Contact information</h2>
      <div class="footerLinks">
         <a href="https://github.com/hovigmk" class="links">Hovig</a>
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

</html>
